*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    text-align: center;    
}
header nav{
    padding-right: 30px;
}

main{
    padding: 20px;
    min-height:600px;
    margin-top: 30px;
}

/* NAV */

header{
    padding: 10px ;
    padding-right: 10px;
    /* position: sticky; */
}

header h1{
    color: black;
    margin-left: 20px;
}

nav  {
    display: flex;
    justify-content: space-between; /* separa h1 a la izq y lo otro a la derecha,   si usara flex-end me tira todo a la derecha*/
    align-items: center; /* alinea verticalmente */
    padding: 10px;  
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    border-bottom: 0.7px solid #ccccccc9;
    z-index: 1000;
}

nav ul{
    display: flex;
    list-style: none; /* saca los puntitos */
    gap: 25px; /* espacio entre los items */
    margin-right: 10px;
}

nav a {
    color: black;
    text-decoration: none; /* le saca el subrayado */
}

a {
    color: black;

}


/* CARTELERA */


/* .cartelera{
    text-align: center;
    
}
.imagencartelera{
  width: 100%;
    height: 400px;
    display: inline-block;
   border-radius: 10px;
}


.contenedorimgcartelera{
    width: 100%;
    margin: auto;
    text-align: center;
}
 */
/* MAIN */

/*  CARROUSEL  */
.carrusel-contenedor {
    position: relative;
    width: 70%;
    margin: 4em auto;
}

.carrusel {
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carrusel::-webkit-scrollbar {
    display: none;
}

/*  BOTONES */

.btn-carrusel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 2rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
}

.btn-carrusel:hover {
    transform: translateY(-50%) scale(1.15);
    background: rgba(0, 0, 0, 0.8); 
}

.btn-carrusel.izquierda {
    left: -25px; /* para que sobresalgan un poco */
}

.btn-carrusel.derecha {
    right: -25px; 
}


.elemento-carrusel {
    scroll-snap-align: start;
    aspect-ratio: 5/3;
    background-color: white;
    padding: 1em;
    border-radius: .5em; 
    text-align: center;
    align-content: center;
}


/* carrousel viejo, ¿borrar?*/
.carrousel{
    width: 100%;
}
.carrousel .grande{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
}

.carrousel .img{
    width: 100%;
    /* width: calc(100%/2); */
    border-radius: 10px;
    max-height:650px;
}


.carrousel .puntos{
    width: 100%;
    padding:10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.carrousel .punto{
    width: 10px;
    height: 10px;
}

/* EVENTOS */

.cont-evento{
    margin-bottom: 100px;
}

.cont-evento h3{
    margin-bottom: 15px;
    font-size: 20px;
}

.cont-eventos{
    text-align: left;
    padding: 35px;
}

.link-carrousel{
    text-decoration: none;
    margin-right: 18px;
}

.evento-particular{
    text-align: center;
    margin-bottom: 15px;
}

.rect{
    display:flex;
    text-align: center;                 /* alinear el texto*/
    border: 1px solid #333;           /* esquinas redondeadas */
    border-radius: 10px;                /* espacio interno */
    padding: 20px;                      /* espacio interno */
    margin-bottom: 10px;                /* separación del resto */
    max-width: auto;                    /* ancho máximo del recuadro */
    height: auto;
    float: right;
    box-shadow:10px 5px 5px #888;
}

.iframe{
    padding: 0;                          /* espacio interno */
    margin-bottom: 0;                    /* separación del resto */
}

.eventosparticulares{
    /* Container general para el evento particular */
    display: flex;
}

.col1{
    flex:1;
    padding-right: 0;
    max-width: 400px;
    height: 400px;
    margin-right:15px;
}

.col2{
    flex:2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
	align-content: stretch;
    text-align: center;
}

.row1{
    flex:1;
    width:100%;
}

.row2{
    flex:2;
}

.row3{
    flex:3;
}

.row4{
    flex:4;
}

.img-eventos{
    border-radius: 10px;
    width: 230px;
    height: 210px;
    transition: transform 0.3s ease;
    object-fit: cover;
    object-position: center;
    box-shadow:10px 5px 5px #888;
}

.img-eventoGrande{
    border-radius: 10px;    
    transition: transform 0.3s ease;
    object-fit: cover;
    object-position: center;
    float: left;
    width: 100%;
    height: 100%;
    box-shadow:7px 10px 5px #888;
}

.img-eventos:hover{
    transform: scale(1.05);
    cursor: pointer;
}
/* contenedor principal centrado */
.seccion-ubicacion {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* centra horizontalmente */
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 30px;
  }
  
  /* input */
  #input-ciudad {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  /* resultados */
  #result-busqueda {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px; 
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: absolute;
    top: 100%; /* justo abajo del input */
    left: 50%;
    transform: translateX(-50%); /* centrado resp al input */
    z-index: 100;
  }
  
  /* items */
  .resultado-list{
    padding: 10px 14px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    transition: background 0.2s ease;
  }
  
  .resultado-list:hover {
    background-color: #eee;
  }
  
/* FOOTER */

footer{
    text-align: center;
    border-top: 2px solid #ccccccc9;
    padding: 20px;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
}

footer  p{
    padding-right: 10px;
}


/* LOGIN */
.input-div{
    margin:auto;
    width:300px;
    font-size: large;
}

.input{
    margin:10px;
    font-size: 22px;
}

.button-input{
    font-size: 22px;
}

.pass-div{
    margin:auto;
    width:300px;
    position: relative;
}

.fa-eye{
    position:absolute;
    top:32%;
    left: 96%;
    cursor: pointer;
}

.fa-eye-slash{
    position:absolute;
    top:32%;
    left: 96%;
    cursor: pointer;
}
/*refs/remotes/origin/main*/