*{
    margin : 0;
    padding : 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.eventopiola{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    width: 300px;
    margin: auto;
}