*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

main{
    text-align: center;
}

header{
    background-color:beige;
    padding: 1px ;
    /* position: sticky; */
 
}

header h1{
    color: darkgrey;

}

nav ul{
    /* .. */
}

nav a {
    color: white;
    text-decoration: none;
}