*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

main{
    text-align: center;                 /* color y grosor del borde */
    border: 2px solid #333;           /* esquinas redondeadas */
    border-radius: 10px;                /* espacio interno */
    padding: 20px;                      /* espacio interno */
    margin: 20px auto;                  /* separación del resto */
    max-width: 600px;                   /* ancho máximo del recuadro */
    background-color: #fdecda;        /* color del fondo */

}

/* NAV */

header{
    background-color:mintcream ;
    padding: 1px ;
    /* position: sticky; */
 
}

header h1{
    color: black;
}

nav  {
    display: flex;
    justify-content: space-between; /* separa h1 a la izq y lo otro a la derecha, 
    si usara flex-end me tira todo a la derecha*/
    align-items: center; /* alinea verticalmente */
    padding: 10px;  
   
}

nav ul{
    display: flex;
    list-style: none; /* saca los puntitos */
    gap: 20px; /* espacio entre los items */
}

nav a {
    color: black;
    text-decoration: none; /* le saca el subrayado */
}

/* CARTELERA */


.cartelera{
    text-align: center;
    padding: 20px;
}

.contenedorcartelera{
    position: relative;
    display: flex;
    /*     align-items: center; */
    margin: auto; /* centra en la pagina */
}

.evento{
    max-width: 100%;
    box-sizing: border-box;
}